/* Layout and sidebar styles */

.container {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	gap: 4rem;
	padding: 2rem;
}

.sidebar {
	position: sticky;
	top: 2rem;
	height: fit-content;
	padding-right: 2rem;
	border-right: 3px solid var(--accentAlt);
}

.sidebar-header {
	border-bottom: 3px solid var(--accentAlt);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
}

.sidebar-header h1 {
	margin: 0rem;
}

.affiliation {
	font-size: 1.25rem;
	color: var(--accent);
	line-height: 1.5;
	margin-top: 0rem
}

nav {
	display: flex;
	flex-direction: column;
}

nav a {
	color: var(--accent);
	text-decoration: none;
	font-weight: bold;
	padding: 0.5rem 0;
	transition: color 0.3s, padding-left 0.3s;
	border-left: 3px solid transparent;
	padding-left: 1rem;
	margin-left: -1rem;
	margin-top: 0.5rem;
}

nav a:hover {
	color: var(--nameText);
	padding-left: 1.25rem;
	border-left-color: var(--nameText);
}

.back-link {
	color: var(--accent);
	text-decoration: none;
	font-weight: bold;
	padding: 0.5rem;
	transition: color 0.3s, padding-left 0.3s;
	border-left: 3px solid transparent;
	padding-left: 1rem;
	margin-left: -1rem;
}

.back-link:hover {
	color: var(--nameText);
	padding-left: 1.25rem;
	border-left-color: var(--nameText);
}

footer {
	grid-column: 1 / -1;
	text-align: center;
	padding: 2rem;
	color: var(--accentAlt);
	font-size: 0.85rem;
	border-top: 1px solid var(--accent);
	margin-top: 2rem;
}
